.btn{
	.transition(0.2s);
	.fh;
	.border-radius(4px);
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 40px;
	line-height: 40px;
	font-size: @fsp;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @blue;
	&:hover{
		background: @red;
	}
}
