@media (min-width: 1200px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	@content-width: 740px;
	.container {
		width: @content-width;
	}
	#page-header,#col-bottom, {
		min-width: @content-width;
	}
	#page-header {
		.inner {
			background: none;
		}
		.menu_header {
			float: left;
			width: 50%;
			ul {
				float: left;
				li {
					a {
						margin: 0 10px 0 0;
					}
				}
			}
		}
		.search {
			margin-top: 10px;
		}
		.logo {
			clear: both;
			text-align: center;
			margin-top: 0;
			a {
				margin: 0 auto;
			}
		}
		.menu_category {
			margin: 20px 0 0;
			text-align: center;
			float: none;
			ul {
				li {
					float: none;
					display: inline-block;
					a {
						.border-radius(4px);
					}
				}
			}
		}
		.menu_main {
			.border-radius(4px 4px 0 0);
		}
	}
	#col-main {
		width: 100%;
		float: none;
	}
	#col-center {
		width: 100%;
		float: none;
	}
	#col-left {
		width: 50%;
		padding: 0 10px 0 0;
	}
	#col-right {
		width: 50%;
		padding: 0 0 0 10px;
	}
	#col-bottom {
		&:before{
			display: none;
		}
	}
	.box_competition {
		.title {
			width: 55%;
			float: right;
		}
		figure {
			float: left;
			width: 35%;
		}
		.content {
			padding-top: 20px;
			float: none;
			clear: both;
			width: 100%;
		}
	}
	.menu_bottom {
		.title {
			h3 {
				padding-bottom: 50px;
			}
		}
		.col {
			padding-left: 20px;
		}
	}
}
@media (max-width: 767px) {
	@content-width: 100%;
	.container {
		width: @content-width;
	}
	#page-header,#col-bottom, {
		min-width: @content-width;
	}
	#page-header {
		.inner {
			background: none;
			padding: 0 20px;
		}
		.menu_header {
			float: none;
			width: 100%;
			ul {
				float: none;
				text-align: center;
				li {
					float: none;
					display: block;
					a {
						margin: 0 0 5px;
					}
				}
			}
		}
		.search {
			margin-top: 10px;
			margin-bottom: 20px;
			float: none;
			input[type=text] {
				float: none;
				width: 100%;
				margin-bottom: 5px;
			}
			button {
				.btn;
				float: none;
				width: 100%;
				&:before{
					display: none;
				}
			}
		}
		.logo {
			clear: both;
			text-align: center;
			margin: 0;
			padding: 0;
			a {
				margin: 0 auto;
				width: 280px;
				height: 52px;
			}
		}
		.menu_category {
			margin: 20px 0 0;
			text-align: center;
			float: none;
			ul {
				li {
					float: none;
					display: block;
					margin-bottom: 5px;
					a {
						.border-radius(4px);
						text-align: left;
					}
				}
			}
		}
		.menu_main {
			.border-radius(4px 4px 0 0);
			margin-top: 20px;
			float: none;
			ul {
				float: none;
				li {
					float: none;
				}
			}
		}
	}
	#col-main {
		width: 100%;
		float: none;
	}
	#col-center {
		width: 100%;
		float: none;
	}
	#col-left {
		width: 100%;
	}
	#col-right {
		width: 100%;
	}
	#col-bottom {
		&:before{
			display: none;
		}
	}
	.news {
		.item {
			figure {
				float: none;
				width: 100%;
			}
			.content {
				float: none;
				width: 100%;
			}
		}
	}
	.box_rate {
		.title, .stars, .count{
			float: none;
			width: 100%;
		}
	}
	.page_denik {
		.page_header {
			.user {
				float: none;
				margin: 0 0 20px;
			}
			h1 {
				float: none;
				margin: 0 0 20px;
			}
		}
		.box_buttons {
			a {
				display: block;
				float: none;
			}
		}
	}
	.box_calendar {
		.title {
			float: none;
			width: 100%;
			padding-right: 0;
			&:before,&:after{
				display: none;
			}
		}
		.datepicker {
			float: none;
			width: 100%;
		}
	}
	.box_competition {
		.title {
			width: 100%;
			float: none;
		}
		figure {
			float: left;
			width: 100%;
		}
		.content {
			padding-top: 20px;
			float: none;
			clear: both;
			width: 100%;
		}
	}
	.menu_bottom {
		.title {
			h3 {
				padding-bottom: 50px;
			}
		}
		.col {
			float: none;
			width: 100%;
		}
	}
	.menu_footer {
		padding: 0 20px;
	}
	#page-footer {
		padding-right: 20px;
		padding-left: 20px;
	}
}