@font-face {
  font-family: 'noc-icons';
  src: url('../font/noc-icons.eot?35860163');
  src: url('../font/noc-icons.eot?35860163#iefix') format('embedded-opentype'),
       url('../font/noc-icons.woff?35860163') format('woff'),
       url('../font/noc-icons.ttf?35860163') format('truetype'),
       url('../font/noc-icons.svg?35860163#noc-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'noc-icons';
    src: url('../font/noc-icons.svg?35860163#noc-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "noc-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-user-md:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-chat:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */
.icon-dot-3:before { content: '\e80a'; } /* '' */
.icon-list:before { content: '\e80b'; } /* '' */
.icon-suitcase:before { content: '\e80c'; } /* '' */
.icon-facebook-squared:before { content: '\e80d'; } /* '' */
.icon-kids:before { content: '\e80e'; } /* '' */
.icon-adults:before { content: '\e80f'; } /* '' */
.icon-czech:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-gplus-squared:before { content: '\e812'; } /* '' */
.icon-mail-alt:before { content: '\e813'; } /* '' */
.icon-print:before { content: '\e814'; } /* '' */
.icon-star:before { content: '\e815'; } /* '' */
.icon-star-empty:before { content: '\e816'; } /* '' */
.icon-star-half:before { content: '\e817'; } /* '' */
.icon-star-half-alt:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\e819'; } /* '' */
.icon-publish:before { content: '\e81a'; } /* '' */
.icon-export:before { content: '\e81b'; } /* '' */
.icon-calendar:before { content: '\e81c'; } /* '' */
.icon-sun:before { content: '\e81d'; } /* '' */
.icon-moon:before { content: '\e81e'; } /* '' */