
.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-user-md:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-chat:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */
.icon-dot-3:before { content: '\e80a'; } /* '' */
.icon-list:before { content: '\e80b'; } /* '' */
.icon-suitcase:before { content: '\e80c'; } /* '' */
.icon-facebook-squared:before { content: '\e80d'; } /* '' */
.icon-kids:before { content: '\e80e'; } /* '' */
.icon-adults:before { content: '\e80f'; } /* '' */
.icon-czech:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-gplus-squared:before { content: '\e812'; } /* '' */
.icon-mail-alt:before { content: '\e813'; } /* '' */
.icon-print:before { content: '\e814'; } /* '' */
.icon-star:before { content: '\e815'; } /* '' */
.icon-star-empty:before { content: '\e816'; } /* '' */
.icon-star-half:before { content: '\e817'; } /* '' */
.icon-star-half-alt:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\e819'; } /* '' */
.icon-publish:before { content: '\e81a'; } /* '' */
.icon-export:before { content: '\e81b'; } /* '' */
.icon-calendar:before { content: '\e81c'; } /* '' */
.icon-sun:before { content: '\e81d'; } /* '' */
.icon-moon:before { content: '\e81e'; } /* '' */